<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Debate Network{% endblock %}</title>
    <link rel="stylesheet" href="static/style0.css">
</head>
<body>
    <!-- Header -->
    <header class="navbar">
        <div class="navbar-left">
           <a href ="/"> <img src="static/images/icon.png" alt="Logo" class="logo"></a>
        </div>
        <div class="navbar-right">
            {% block header %}
            
            {% endblock %}
        </div>
    </header>


    <div class="layout">
        {%block sidebar %}
        {% endblock %}
        <!-- Main Content -->
        <main class="content">
            {% block main %}
            <!-- Default content if not overridden -->
            {% endblock %}
        </main>
    </div>

    <div class="chat-icon">
        💬
    </div>
    {% block bottom %}
    {% endblock %}
</body>
</html>
