{% extends 'base.html' %}
{% block title %}
    disspit
{% endblock %}
    
{% block styles %}
<link rel="stylesheet" href="static/style0.css">
{% endblock %}


{% block header %}
    <div class="navbar-left">
        <a href ="/home"> <img src="static/images/icon.png" alt="Logo" class="logo"></a>
    </div>
    <div class="navbar-right">
        <a href="/register" class="btn header-btn register-btn">Register</a>
        <a href="/login" class="btn header-btn login-btn">Log In</a>
        
    </div>
{% endblock %}
{% block main %}
{% endblock %}